name: Deploy last container in Github Container Registry to Azure Web App

on: 
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: netflix-api-server
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    name: Deploy last container in Github Container Registry to Azure Web App
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - uses: actions/checkout@main

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest'